<!DOCTYPE HTML>
<html>

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <title>SHOP PROJECT</title>
</head>

<body>
<header class="header">
    <div class="logo"></div>
</header>
<div class="container">
    <%- body %>
</div>
</body>

</html>